<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<style>
    .c1 {
        width: 100%;
    }

    .c2 {
        width: 16px;
    }
</style>

<rich:dataGrid id="persons" value="#{mainForm.contactDetails}" var="person" columns="3" elements="9"
               style="width: 600px;">
    <rich:panel bodyClass="pbody" style="width:188px; height:80px; overflow-x:hidden;">
        <f:facet name="header">
            <h:panelGrid width="100%" columns="2" cellpadding="0" cellspacing="0" columnClasses="c1,c2">
                <h:commandLink action="#{personForm.loadPersonContact}" value="#{person.name}">
                    <f:param name="personId" value="#{person.id}"/>
                </h:commandLink>
                <a4j:commandLink render="popupContactForm"
                                 oncomplete="#{rich:component('popupContactForm')}.show();">
                    <h:graphicImage value="/images/businessman_delete.png" style="border:0" width="16" height="16"
                            alt="#{msg['label.delete.contact']}" title="#{msg['label.delete.contact']}"/>
                    <f:setPropertyActionListener value="#{person.id}" target="#{mainForm.contactToDelete}"/>
                </a4j:commandLink>
            </h:panelGrid>
        </f:facet>
        <h:panelGrid columns="2" rendered="#{person.hasContacts}">
            <h:outputText value="#{msg.label_email}:" styleClass="label"/>
            <ui:repeat value="#{person.emails}" var="email">
                <h:outputText value="#{email}"/>
            </ui:repeat>
            <h:outputText value="#{msg.label_phone}:" styleClass="label"/>
            <ui:repeat value="#{person.phones}" var="phone">
                <h:outputText value="#{phone}"/>
            </ui:repeat>
        </h:panelGrid>
        <h:outputText rendered="#{not person.hasContacts}" value="#{msg.label_no_contacts}" styleClass="label"/>
    </rich:panel>
    <f:facet name="footer">
        <rich:dataScroller for="persons" rendered="#{mainForm.contactDetailsSize > 9}"/>
    </f:facet>
</rich:dataGrid>

<rich:popupPanel id="popupContactForm" width="250" height="150">
    <f:facet name="header">
        <h:outputText value="#{msg['title.confirmation']}" styleClass="label"/>
    </f:facet>
    <h:panelGrid>
        <h:panelGrid columns="2">
            <h:graphicImage value="/images/warning.png" width="48" height="48"/>
            <h:outputText value="#{msg['label.are_you_sure']}" style="font-size: large;"/>
        </h:panelGrid>
        <h:panelGroup>
            <h:commandButton value="#{msg['label.ok']}" action="#{mainForm.deleteContact}" immediate="true">
                <f:param name="personId" value="#{mainForm.contactToDelete}"/>
            </h:commandButton>

            <h:commandButton value="#{msg['label_cancel']}" onclick="#{rich:component('popupContactForm')}.hide()"/>
        </h:panelGroup>
    </h:panelGrid>
</rich:popupPanel>
</html>