<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        <h:outputText value="#{msg.title_page_idebt}"/>
    </ui:define>
    <ui:define name="body">
        <div align="center">
            <h:panelGrid width="350px" columns="2" border="0">
                <rich:panel header="#{msg.title_contact_information}">
                    <h:form>
                        <h:inputHidden value="#{personForm.personId}" id="personId"/>
                        <h:outputText value="*" style="color:#ff0000;"/><h:outputText
                            value=" - #{msg.label_mandatory}."/>

                        <h:panelGrid id="upg" columns="2" border="0" cellspacing="0" cellpadding="0">
                            <h:panelGroup>
                                <h:outputText value="#{msg.label_name}"/>
                                <h:outputText value="*" style="color:#ff0000"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText id="personName" size="25" value="#{personForm.personName}"
                                             styleClass="inputbox"/>
                                <h:message for="personName" styleClass="fieldErrors"/>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>

                            <h:panelGroup>
                                <h:outputText value="#{msg.label_email}"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText id="personEmail" size="25" value="#{personForm.personEmail}"
                                             styleClass="inputbox"/>
                                <h:message for="personEmail" styleClass="fieldErrors"/>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>

                            <h:panelGroup>
                                <h:outputText value="#{msg.label_phone}"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:inputText id="personPhone" size="25" value="#{personForm.personPhone}"
                                             styleClass="inputbox"/>
                                <h:message for="personPhone" styleClass="fieldErrors"/>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>

                            <h:panelGroup>
                                <h:commandButton value="#{msg.label_save}"
                                                 action="#{personForm.savePerson}"
                                                 styleClass="submitButton"/>
                                <h:outputText value=""/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:commandButton value="#{msg.label_cancel}"
                                                 action="#{personForm.back}"
                                                 styleClass="submitButton"/>
                            </h:panelGroup>
                        </h:panelGrid>
                    </h:form>
                </rich:panel>
            </h:panelGrid>
        </div>
    </ui:define>
</ui:composition>
</html>