<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        <h:outputText value="#{msg.title_page_idebt}"/>
    </ui:define>
    <ui:define name="body">
        <div align="center">
            <h:panelGrid width="350px" columns="2" border="0" cellpadding="0" cellspacing="0">
                <rich:panel header="#{msg.title_transaction_details}">
                    <h:form>
                        <h:inputHidden value="#{transactionForm.transactionId}"/>
                        <h:outputText value="*" style="color:#ff0000;"/><h:outputText
                            value=" - #{msg.label_mandatory}."/>

                        <h:panelGrid id="upg" columns="2" border="0" cellspacing="0" cellpadding="0">
                            <h:panelGroup>
                                <h:outputText value="#{msg.label_you_want_to}"/>
                                <h:outputText value="*" style="color:#ff0000"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:selectOneRadio value="#{transactionForm.lendFlag}">
                                    <f:selectItem itemValue="true" itemLabel="#{msg.label_lend}"/>
                                    <f:selectItem itemValue="false" itemLabel="#{msg.label_borrow}"/>
                                </h:selectOneRadio>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>

                            <h:panelGroup>
                                <h:outputText value="#{msg.label_contact}"/>
                                <h:outputText value="*" style="color:#ff0000"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:panelGrid columns="2" border="0">
                                    <rich:select id="contactDetails" defaultLabel="#{msg.label_select_some_value}"
                                                 value="#{transactionForm.targetPersonId}">
                                        <f:selectItems value="#{transactionForm.contacts}" var="contact"
                                                       itemLabel="#{contact.name}" itemValue="#{contact.id}"/>
                                    </rich:select>
                                    <h:commandButton value="#{msg.label_new}" action="persondetails"/>
                                    <h:message for="contactDetails" styleClass="fieldErrors"/>
                                    <h:outputText value=""/>
                                </h:panelGrid>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>

                            <h:panelGroup>
                                <h:outputText value="#{msg.label_amount}"/>
                                <h:outputText value="*" style="color:#ff0000"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:panelGrid columns="2" border="0" cellpadding="0" cellspacing="0">
                                    <h:outputStylesheet>
                                        .currencySelectStyle input {
                                            width: 134px;
                                        }
                                    </h:outputStylesheet>
                                    <h:inputText id="amount" size="15" value="#{transactionForm.amount}"
                                                 styleClass="inputbox"/>
                                    <rich:select defaultLabel="#{msg.label_select_some_value}"
                                                 value="#{transactionForm.currencyCode}"
                                                 styleClass="currencySelectStyle">
                                        <f:selectItems value="#{transactionForm.currencies}" var="currency"
                                                       itemLabel="#{msg[currency.titleKey]}"
                                                       itemValue="#{currency.code}"/>
                                    </rich:select>
                                    <h:message for="amount" styleClass="fieldErrors"/>
                                    <h:outputText value=""/>
                                </h:panelGrid>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>

                            <h:panelGroup>
                                <h:outputText value="#{msg.label_return_date}"/>
                                <h:outputText value="*" style="color:#ff0000"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <rich:calendar value="#{transactionForm.transactionEndDate}" popup="true"
                                               id="transactionEndDate" enableManualInput="false"
                                               disabled="#{not transactionForm.enableTransactionDate}"/>
                                <h:message for="transactionEndDate" styleClass="fieldErrors"/>
                            </h:panelGroup>
                            <h:outputText value=""/><h:outputText value=""/>
                        </h:panelGrid>
                        <h:outputText value=""/>
                        <h:panelGrid columns="2" border="0" cellspacing="2" cellpadding="2">
                            <h:commandButton alt="#{msg.label_save}" title="#{msg.label_save}"
                                             action="#{transactionForm.saveTransaction}" styleClass="submitButton"
                                             value="#{msg.label_save}"/>
                            <h:commandButton alt="#{msg.label_cancel}" title="#{msg.label_cancel}"
                                             action="#{transactionForm.back}" styleClass="submitButton"
                                             value="#{msg.label_cancel}"/>
                        </h:panelGrid>
                    </h:form>
                </rich:panel>
            </h:panelGrid>
        </div>
    </ui:define>
</ui:composition>
</html>