<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich">

<rich:dataGrid id="debts" value="#{mainForm.debts}" var="debt" columns="3" elements="9" style="width: 600px;">
    <rich:panel bodyClass="pbody" style="width:188px; height:80px; overflow-x:hidden;">
        <f:facet name="header">
            <h:commandLink action="#{personForm.loadPersonContact}" value="#{debt.contactName}">
                <f:param name="personId" value="#{debt.contactId}"/>
            </h:commandLink>
        </f:facet>

        <rich:dataTable value="#{debt.debtItems}" var="debtItem">
            <rich:column>
                <h:graphicImage rendered="#{not debtItem.debtFlag}" height="16" value="/images/hand_offer.png"/>
                <h:graphicImage rendered="#{debtItem.debtFlag}" height="16" value="/images/hand_money.png"/>
            </rich:column>
            <rich:column>
                <h:outputText value="#{debtItem.amount}">
                    <f:convertNumber currencySymbol="" type="currency"/>
                </h:outputText> <h:outputLabel value="#{msg[debtItem.currency]}"/>
            </rich:column>
            <rich:column>
                <h:commandButton image="/images/note_new.png" style="width: 24px;" action="#{transactionForm.createByExample}">
                    <f:param name="amount" value="#{debtItem.amount}"/>
                    <f:param name="currencyCode" value="#{debtItem.currencyCode}"/>
                    <f:param name="targetPersonId" value="#{debt.contactId}"/>
                    <f:param name="lendFlag" value="#{debtItem.debtFlag}"/>
                </h:commandButton>
            </rich:column>
        </rich:dataTable>
    </rich:panel>
    <f:facet name="footer">
        <rich:dataScroller for="debts" rendered="#{mainForm.debtsSize > 9}"/>
    </f:facet>
</rich:dataGrid>
</html>