<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

<rich:dataTable id="transactions" value="#{mainForm.transactions}" var="transaction" rows="20"
                style="width: 600px; align:center;">

    <rich:column style="width:75px;">
        <h:graphicImage rendered="#{not transaction.debtFlag}" height="16" value="/images/hand_offer.png"/>
        <h:graphicImage rendered="#{transaction.debtFlag}" height="16" value="/images/hand_money.png"/>
        <h:graphicImage rendered="#{transaction.verified}" height="16" value="/images/handshake.png"/>
    </rich:column>

    <rich:column style="width:225px;">
        <f:facet name="header">
            <h:outputText value="#{msg['label_contact']}" styleClass="label"/>
        </f:facet>
        <h:commandLink action="#{personForm.loadPersonContact}" value="#{transaction.personContact}">
            <f:param name="personId" value="#{transaction.personContactId}"/>
        </h:commandLink>
    </rich:column>

    <rich:column style="width:75px;">
        <f:facet name="header">
            <h:outputText value="#{msg['label_amount']}" styleClass="label"/>
        </f:facet>
        <h:outputText value="#{transaction.amount}">
            <f:convertNumber currencySymbol="" type="currency"/>
        </h:outputText> <h:outputLabel value="#{msg[transaction.currency]}"/>
    </rich:column>

    <rich:column style="width:75px;">
        <f:facet name="header">
            <h:outputText value="#{msg['label.created']}" styleClass="label"/>
        </f:facet>
        <h:outputText value="#{transaction.created}">
            <f:convertDateTime pattern="dd.MM.yyyy"/>
        </h:outputText>
    </rich:column>

    <rich:column style="width:75px;">
        <f:facet name="header">
            <h:outputText value="#{msg['label.return_term']}" styleClass="label"/>
        </f:facet>
        <h:outputText value="#{transaction.endDate}">
            <f:convertDateTime pattern="dd.MM.yyyy"/>
        </h:outputText>
    </rich:column>

    <rich:column style="width:75px;">
        <h:commandButton image="/images/note_edit.png" style="width: 24px;" action="#{transactionForm.load}"
                         rendered="#{transaction.showEdit}">
            <f:param name="transactionId" value="#{transaction.transactionId}"/>
        </h:commandButton>
        <a4j:commandLink rendered="#{transaction.showEdit}" render="popupForm"
                         oncomplete="#{rich:component('popupForm')}.show();">
            <h:graphicImage value="/images/note_delete.png" style="width: 24px; border:0"/>
            <f:setPropertyActionListener value="#{transaction.transactionId}"
                                         target="#{mainForm.transactionToDelete}"/>
        </a4j:commandLink>
    </rich:column>

    <f:facet name="footer">
        <rich:dataScroller for="transactions" rendered="#{mainForm.transactionSize > 20}"/>
    </f:facet>
</rich:dataTable>

<rich:popupPanel id="popupForm" width="250" height="150">
    <f:facet name="header">
        <h:outputText value="#{msg['title.confirmation']}" styleClass="label"/>
    </f:facet>
    <h:panelGrid>
        <h:panelGrid columns="2">
            <h:graphicImage value="/images/warning.png" width="48" height="48"/>
            <h:outputText value="#{msg['label.are_you_sure']}" style="font-size: large;"/>
        </h:panelGrid>
        <h:panelGroup>
            <h:commandButton value="#{msg['label.ok']}" action="#{mainForm.deleteTransaction}" immediate="true">
                <f:param name="transactionId" value="#{mainForm.transactionToDelete}"/>
            </h:commandButton>

            <h:commandButton value="#{msg['label_cancel']}" onclick="#{rich:component('popupForm')}.hide()"/>
        </h:panelGroup>
    </h:panelGrid>
</rich:popupPanel>
</html>