<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        Change Password
    </ui:define>
    <ui:define name="body">
        <f:view>
            <div align="center">
                <h:form id="changePwdForm">
                    <h:inputHidden value="#{changePasswordForm.confirmationCode}"/>

                    <h:panelGrid width="400px" columns="2" border="0">
                        <rich:panel header="Change Password">
                            <h:panelGrid id="lpg" columns="2">

                                <h:outputText value="Confirmation Code" rendered="#{!changePasswordForm.showOldPassword}"/>
                                <h:inputText redisplay="true" readonly="true" size="50" value="#{changePasswordForm.confirmationCode}"
                                               styleClass="inputbox" rendered="#{!changePasswordForm.showOldPassword}"/>

                                <h:outputText value="Old Password" rendered="#{changePasswordForm.showOldPassword}"/>
                                <h:inputSecret id="oldpwd" redisplay="true" size="50" value="#{changePasswordForm.oldPwd}"
                                               styleClass="inputbox" rendered="#{changePasswordForm.showOldPassword}"/>

                                <h:outputText value="New Password"/>
                                <h:inputSecret id="newPwd" redisplay="true" size="50" value="#{changePasswordForm.newPwd}"
                                               styleClass="inputbox"/>
                                <h:outputText value=""/>
                                <h:message for="newPwd" styleClass="errors"/>

                                <h:outputText value="Confirm Password"/>
                                <h:inputSecret id="newPwdConfirm" redisplay="true" size="50"
                                               value="#{changePasswordForm.newPwdConfirm}"
                                               styleClass="inputbox"/>
                                <h:outputText value=""/>
                                <h:message for="newPwdConfirm" styleClass="errors"/>

                                <h:commandButton value="Change Password" action="#{changePasswordForm.changePassword}"
                                                 styleClass="submitButton"/>
                                <h:commandButton value="#{msg.label_cancel}" action="#{changePasswordForm.back}"
                                                 styleClass="submitButton"/>
                            </h:panelGrid>
                        </rich:panel>

                    </h:panelGrid>
                </h:form>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
</html>