<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        Forget Password
    </ui:define>
    <ui:define name="body">
        <f:view>
            <div align="center">
                <h:panelGrid width="380px" columns="2" border="0">
                    <rich:panel header="Send password by mail">
                        <h:form id="sendPasswordByMail">
                            <h:panelGrid id="lpg" columns="2">

                                <h:outputText value="User Name"/>
                                <h:inputText id="userName" value="#{forgotPasswordForm.userName}"
                                             styleClass="inputbox"/>
                                <h:outputText value=""/>
                                <h:message for="userName" styleClass="errors"/>

                                <h:outputText value="Enter e-mail Id"/>
                                <h:inputText id="email" value="#{forgotPasswordForm.email}" styleClass="inputbox"/>
                                <h:outputText value=""/>
                                <h:message for="email" styleClass="errors"/>

                                <h:commandButton value="Send Password" action="#{forgotPasswordForm.sendPassword}"
                                                 styleClass="submitButton"/>

                                <h:commandButton value="#{msg.label_cancel}" action="#{forgotPasswordForm.back}"
                                                 styleClass="submitButton"/>
                            </h:panelGrid>
                        </h:form>
                    </rich:panel>
                </h:panelGrid>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
</html>