<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        <h:outputText value="#{msg.title_page_login}"/>
    </ui:define>
    <ui:define name="body">
        <f:view>
            <div align="center" style="width: 100%">
                <h:panelGrid width="350px" columns="2" border="0">
                    <rich:panel header="#{msg.title_page_login}">
                        <h:form>
                            <h:panelGrid id="lpg" columns="2">
                                <h:outputText value="#{msg.user_name}"/>
                                <h:inputText id="username" value="#{loginForm.userName}"
                                             styleClass="inputbox"/>
                                <h:outputText value=""/>
                                <h:message for="username" styleClass="fieldErrors"/>

                                <h:outputText value="#{msg['label.password']}"/>
                                <h:inputSecret id="password" value="#{loginForm.password}"
                                               styleClass="inputbox"/>
                                <h:outputText value=""/>
                                <h:message for="password" styleClass="fieldErrors"/>
                            </h:panelGrid>

                            <h:outputText value=""/>

                            <h:panelGrid columns="2">
                                <h:commandButton value="#{msg['label.login']}" action="#{loginForm.validUser}"
                                                 styleClass="submitButton"/>
                                <h:commandButton value="#{msg['label_cancel']}" action="#{loginForm.back}"
                                                 style="font-family:arial, verdana;font-size:12px;"/>
                            </h:panelGrid>

                            <h:outputText value=""/>

                            <h:panelGrid columns="1">
                                <h:outputText value="#{msg['label.new_user']}?"
                                              style="font-family:arial, verdana;font-size:10px;"/>

                                <h:commandLink value="#{msg['label.register_here']}" action="useraccount"
                                               style="font-family:arial, verdana;font-size:12px;"/>

                                <h:outputText value=""/>

                                <h:commandLink value="#{msg['label.forgot_password']}?" action="forgotPassword"
                                               style="font-family:arial, verdana;font-size:12px;"/>
                            </h:panelGrid>
                        </h:form>
                    </rich:panel>
                </h:panelGrid>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
</html>