<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        <h:outputText value="#{msg['title.personal_information']}"/>
    </ui:define>

    <ui:define name="body">
        <f:view>
            <div align="center">
                <h:panelGrid width="350px" columns="2" border="0">
                    <rich:panel header="User Information">
                        <h:form id="UserForm">
                            <h:inputHidden id="hiddenUserName" value="#{userForm.userName}"/>

                            <h:outputText value="*" style="color:#ff0000;"/><h:outputText
                                value=" - #{msg.label_mandatory}."/>

                            <h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">
                                <h:panelGroup>
                                    <h:outputText value="#{msg.user_name}"/>
                                    <h:outputText value="*" style="color:#ff0000"/>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:inputText id="userName" disabled="#{userForm.isUserNameDisabled}"
                                                 value="#{userForm.userName}" styleClass="inputbox"/>
                                    <h:message for="userName" styleClass="fieldErrors"/>
                                </h:panelGroup>
                                <h:outputText value=""/><h:outputText value=""/>

                                <h:panelGroup id="pwd" rendered="#{!userForm.isUserNameDisabled}">
                                    <h:outputText value="#{msg['label.password']}"/>
                                    <h:outputText value="*" style="color:#ff0000"/>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{!userForm.isUserNameDisabled}">
                                    <h:inputSecret id="password" value="#{userForm.password}"
                                                   redisplay="true"
                                                   styleClass="inputbox"/>
                                    <h:message for="password" styleClass="fieldErrors"/>
                                </h:panelGroup>
                                <h:outputText value=""/><h:outputText value=""/>

                                <h:panelGroup rendered="#{!userForm.isUserNameDisabled}">
                                    <h:outputText value="#{msg['label.confirm_password']}"/>
                                    <h:outputText value="*" style="color:#ff0000"/>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{!userForm.isUserNameDisabled}">
                                    <h:inputSecret id="confirmPassword" value="#{userForm.confirmPassword}"
                                                   redisplay="true"
                                                   styleClass="inputbox"/>
                                    <h:message for="confirmPassword" styleClass="fieldErrors"/>
                                </h:panelGroup>
                                <h:outputText value=""/><h:outputText value=""/>

                                <h:panelGroup>
                                    <h:outputText value="#{msg['label_name']}"/>
                                    <h:outputText value="*" style="color:#ff0000;"/>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:inputText id="realName" value="#{userForm.realName}"
                                                 styleClass="inputbox"/>
                                    <h:message for="realName" styleClass="fieldErrors"/>
                                </h:panelGroup>
                                <h:outputText value=""/><h:outputText value=""/>

                                <h:panelGroup>
                                    <h:outputText value="#{msg['label_email']}"/>
                                    <h:outputText value="*" style="color:#ff0000"/>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:inputText id="email" size="35" value="#{userForm.email}"
                                                 styleClass="inputbox"/>
                                    <h:message for="email" styleClass="fieldErrors"/>
                                </h:panelGroup>
                                <h:outputText value=""/><h:outputText value=""/>

                                <h:panelGroup>
                                    <h:outputText value="#{msg['label_phone']}"/>
                                    <h:outputText value="*" style="color:#ff0000"/>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:inputText id="contactNumber" size="35"
                                                 value="#{userForm.contactNumber}"
                                                 styleClass="inputbox"/>
                                    <h:message for="contactNumber" styleClass="fieldErrors"/>
                                </h:panelGroup>
                                <h:outputText value=""/><h:outputText value=""/>
                            </h:panelGrid>
                            <h:outputText value=""/><h:outputText value=""/>
                            <h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">
                                <h:commandButton value="#{msg.label_save}" action="#{userForm.saveUser}"
                                                 styleClass="submitButton"/>
                                <h:commandButton value="#{msg.label_cancel}" action="#{userForm.back}"
                                                 styleClass="submitButton"/>
                            </h:panelGrid>
                        </h:form>
                    </rich:panel>
                </h:panelGrid>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
</html>