<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>IDebt - <ui:insert name="title"/></title>
    <link href="#{request.contextPath}/css/style.css" rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
    <f:view>
        <ui:insert name="header"/>

        <div align="right">
            <h:form>
                <h:commandLink value="#{msg['label.login']}" action="/user/login"
                               rendered="#{empty sessionScope['sessionId']}"
                               style="font-family:arial, verdana;font-size:12px;"/>
                <h:outputText rendered="#{empty sessionScope['sessionId']}" value=" "/>
                <h:commandLink value="#{msg['label.register']}" action="/user/useraccount"
                               rendered="#{empty sessionScope['sessionId']}"
                               style="font-family:arial, verdana;font-size:12px;"/>
                <h:commandLink value="#{msg['label.home_page']}" action="main"
                               rendered="#{not empty sessionScope['sessionId']}"
                               style="font-family:arial, verdana;font-size:12px;"/>
                <h:outputText rendered="#{not empty sessionScope['sessionId']}" value=" "/>
                <h:commandLink value="#{msg['label.my_profile']}" action="#{userForm.editProfile}"
                               rendered="#{not empty sessionScope['sessionId']}"
                               style="font-family:arial, verdana;font-size:12px;"/>
                <h:outputText rendered="#{not empty sessionScope['sessionId']}" value=" "/>
                <h:commandLink value="#{msg['label.change_password']}" action="changePassword"
                               rendered="#{not empty sessionScope['sessionId']}"
                               style="font-family:arial, verdana;font-size:12px;"/>
                <h:outputText rendered="#{not empty sessionScope['sessionId']}" value=" "/>
                <h:commandLink value="#{msg['label.logout']}" action="#{loginForm.logout}"
                               rendered="#{not empty sessionScope['sessionId']}"
                               style="font-family:arial, verdana;font-size:12px;"/>
            </h:form>
        </div>

        <div style="width: 100%" align="center">
            <div style="width: 300px;">
                <h:messages errorClass="errors"/>
            </div>
        </div>

        <ui:insert name="body"/>
        <ui:insert name="footer"/>
    </f:view>
</h:body>
</html>