<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/main.xhtml">
    <ui:define name="title">
        <h:outputText value="#{msg.title_page_idebt}"/>
    </ui:define>
    <ui:define name="body">
        <f:view>
            <h:form>
                <rich:tabPanel switchType="ajax" activeItem="#{mainForm.activeTab}" immediate="true"
                               itemChangeListener="#{mainForm.changeTabActiveItem}">
                    <rich:tab name="debts" header="#{msg['label.debts']}">
                        <ui:include src="debt/debts.xhtml"/>
                    </rich:tab>
                    <rich:tab name="transactions" header="#{msg['label.transactions']}">
                        <h:commandButton image="/images/note_add.png" action="addtransaction"
                                         style="width: 24px; height: 24px;" alt="#{msg['label.add.transaction']}"
                                         title="#{msg['label.add.transaction']}"/>
                        <ui:include src="debt/transactions.xhtml"/>
                    </rich:tab>
                    <rich:tab name="contacts" header="#{msg['label.contacts']}">
                        <h:commandButton image="/images/businessman_add.png" action="persondetails"
                                         style="width: 24px; height: 24px;" title="#{msg['label.add.contact']}"
                                         alt="#{msg['label.add.contact']}"/>
                        <ui:include src="person/persons.xhtml"/>
                    </rich:tab>
                </rich:tabPanel>
            </h:form>
        </f:view>
    </ui:define>
    <ui:define name="footer">
        <h:form>
            <h:commandLink action="#{mainForm.back}" value="#{msg['label.back']}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>