.errors {
    color: red;
    font-size: 12px;
}

.fieldErrors {
    color: red;
    font-size: 9px;
}

.rf-dg-c {
    border-width: 0 !important;
}

.rf-dg {
    border-width: 0 !important;
}

.rf-dt-b {
    border-width: 0 !important;
}

.rf-dt-c {
    border-width: 0 !important;
}

.rf-dt {
    border-width: 0 !important;
}